.footer {
    background-color: whitesmoke;
}
#ticket-list {
    /* max-height: 2em;
    overflow: hidden;
    position: relative; */
}
#ticket-description {
    /* position: absolute;
    top: 1em;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
    background: linear-gradient(transparent, white); */
}
