{% extends 'Tickets/base.html' %}

{% block content %}
    <div class="container" style="padding: 5rem 2rem 1rem 2rem;">
        <h3>Please enter your ticket information:</h3>
    </div>
    <div class="container">
        <div class="form-group">
            <form method="POST" action="{% url 'Tickets:submission' pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-primary btn-md" />
            </form>
        </div>
    </div>
    
{% endblock %}
