<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>Submission successful</title> -->
</head>
<body>
<h2>All Ticket Details</h2>
<table>
    
    <tr>
        <td><b>Title:</b>{{ tickets.title }}</td>
        <td><b>Name:</b> {{ tickets.name }}</td>
        <td><b>Email:</b> {{ tickets.contact }}</td>
        <td><b>Date:</b> {{ tickets.submissionDate }}</td>
        <td><b>Description:</b> {{ tickets.description }}</td>
        <td><b>High Priority:</b> {{ tickets.highPriority }}</td>
    </tr>
    <tr>
    <td colspan="2" class="divider"><hr/></td>
    </tr>
    
</table>
</body>
</html>