{% extends 'Tickets/index.html' %}

{% block content %}

    <div class="container" style="padding: 5rem 2rem 1rem 2rem;">
        <h3>Thank you for your ticket submission.</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ tickets.title }}</th>
                <td>{{ tickets.firstName }}</td>
                <td>{{ tickets.lastName }}</td>
                <td>{{ tickets.contact }}</td>
                <td>{{ tickets.submissionDate }}</td>
                <td>{{ tickets.description }}</td>
                <td>{{ tickets.highPriority }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

<h2>All Ticket Details</h2>
<table>
    <tr>
        <td>{{ tickets.title }}</td>
        <td>{{ tickets.firstName }} {{ tickets.lastName }}</td>
        <td>{{ tickets.contact }}</td>
        <td>{{ tickets.submissionDate }}</td>
        <td>{{ tickets.description }}</td>
        <td>{{ tickets.highPriority }}</td>
    </tr>
    <tr>
    <td colspan="2" class="divider"><hr/></td>
    </tr>
</table>