{% extends "Tickets/ticket_base.html" %}
{% load bootstrap4 %}

{% block preticket %}
    <div class="d-flex w-100 justify-content-between">
        <div class="content">
            <h3>Ticket Details</h3>
        </div>
        <a href="{% url 'Tickets:update' pk=ticket_detail.pk %}" class="mdc-fab mdc-fab--extended" role="button">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">edit</span>
            <span class="mdc-fab__label">Edit</span>
        </a>
    </div>
{% endblock %}

{% block ticket_content %}
    <p>{{ ticket_detail.user.username }}</p>
    <p>{{ ticket_detail.title }}</p>
    <p>{{ ticket_detail.description }}</p>

{% endblock %}

{% block postticket %}
    {% include 'Tickets/ticket_delete.html' %}
{% endblock %}
    