{% load bootstrap4 %}
<button type="button" class="mdc-fab mdc-fab--extended" data-toggle="modal" data-target="#editModal">
    <div class="mdc-fab__ripple"></div>
    <span class="material-icons mdc-fab__icon">edit</span>
    <span class="mdc-fab__label">Edit</span>
</button>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Ticket: {{ ticket_detail.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'Tickets:update' pk=ticket_detail.pk %}" id="update">
                {% csrf_token %}
                {% bootstrap_form form %}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" form="update" class="mdc-fab mdc-fab--extended">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">done</span>
                <span class="mdc-fab__label">Save</span>
            </button>
        </div>
      </div>
    </div>
</div>