{% extends 'Tickets/ticket_base.html' %}
{% load bootstrap4 %}

{% block ticket_content %}
    <div class="container">
        <h3>Edit Ticket: {{ticket_detail_update.title}}</h3>
        <form method="POST" action="{% url 'Tickets:update' pk=ticket.pk %}" id="update" class="my-4">
          {% csrf_token %}
          {% bootstrap_form form %}
        </form>
        <div class="float-right">
          <a href="{% url 'Tickets:all' %}" role="button" class="mdc-fab mdc-fab--extended" id="cancel_button">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">clear</span>
            <span class="mdc-fab__label">Cancel</span>
          </a>
          <button type="submit" form="update" class="mdc-fab mdc-fab--extended">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">done</span>
            <span class="mdc-fab__label">Save</span>
          </button>
        </div>
    </div>
{% endblock %}