{% extends "Tickets/ticket_base.html" %}

{% block preticket %}
    
    <div class="d-flex w-100 justify-content-between">
        <div class="content">
            <h3>Welcome to the Tickets Page!</h3>
            <h5 class="text-muted">Select a ticket to view.</h5>
        </div>
        <a href="{% url 'Tickets:new' %}" class="mdc-fab mdc-fab--extended" role="button">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">add_circle</span>
            <span class="mdc-fab__label">New Ticket</span>
        </a>
    </div>
    
{% endblock %}

{% block ticket_content %}
    
        <div class="list-group my-4">
            {% for ticket in ticket_list %}
            <a href="{% url 'Tickets:single' pk=ticket.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">{{ ticket.title }}</h3>
                    <small class="text-muted">{{ ticket.submissionDate }}</small>
                </div>
                <small class="text-muted">{{ ticket.description }}</small>
            </a>
            {% endfor %}
        </div>
    
{% endblock %}